button {
	cursor: pointer;
	border: 1px solid var(--color-border);
	border-radius: var(--radius-sm);
	padding: var(--spacing-sm) var(--spacing-md);
	background: var(--color-primary);
	color: white;

	&:hover {
		background: var(--color-primary-hover);
	}
}
